
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.workspace-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(238, 228, 228);
    border-radius: 2px;
    box-shadow: 0px 0px 9px -2px rgba(175, 163, 163, 0.75);
}

.workspace{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Workspace-list-body{
    display: flex;
    flex-direction: column;
}