*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   


.login-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header-login{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}