*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root{
    --color-ppal: #532755;
}
.nombre-workspace{
    text-transform: uppercase;
}
.workspace-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    color:var(--color-ppal) ;
}

