@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.--red{
    color: red;
}
.right-container{
    background-color: white;
    padding-right: 10px;
    border-radius: 0 10px 10px 0;
}
.right-container-sup{
    display: flex;
    height: 100px;
    background-color: white;
}
.rigth-content{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 30px;
    padding: 5px 60px;
    gap: 15px;
    background-color: white;
}
.right-title , .right-paragraph{
    display: flex;
    flex-direction: row;
}
.right-title{
    font-size: 60px;
    font-weight: 600;
}
.right-data-section{
    display: flex;
}
.container{
    display: flex;
    align-items: row;
    width: 100%;
    height: 100%;
    padding-right: 7px;
    background-color: #532755;
    padding-bottom: 5px;
}
input{
  outline: none;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}
input:focus {
  border: 1px solid #4a90e2; 
  box-shadow: 0 0 5px 1px #4a90e2;
}

input {
  width: 100%;
  padding: 10px 14px;
  margin-bottom: 12px;
  border: 1px gray solid ;
  border-radius: 7px;
  height: 35px;
  font-size: 15px;
}
.right-data-button{
    height: 35px;
    width: 120px;
    border-radius: 7px;
    font-size: 15px;
    color: rgb(68, 67, 67);
    font-weight: 600;
    background-color: rgb(231, 226, 226);
}
.right-data-input-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    color: gray;
}
.right-data-span-max-text{
    position: absolute;
    top: 0;
    padding: 8px 10px;
    height: 35px;
    font-size: 15px;
}
.left-container{
    display: flex;
    width: 30%;
    height: 100%;
    background-color: #532755;
    border-radius: 10px 0 0 10px;
}